security:
    encoders:
        # Our user class and the algorithm we'll use to encode passwords
        # http://symfony.com/doc/current/book/security.html#encoding-the-user-s-password
        AppBundle\Entity\User: bcrypt

    providers:
        # in this example, users are stored via Doctrine in the database
        # To see the users at src/AppBundle/DataFixtures/ORM/LoadFixtures.php
        # To load users from somewhere else: http://symfony.com/doc/current/cookbook/security/custom_provider.html
        database_users:
            entity: { class: AppBundle:User, property: username }

    # http://symfony.com/doc/current/book/security.html#firewalls-authentication
    firewalls:
        login:
            pattern:  ^/api/login
            stateless: true
            anonymous: true
            form_login:
                check_path:               /api/login_check
                success_handler:          lexik_jwt_authentication.handler.authentication_success
                failure_handler:          lexik_jwt_authentication.handler.authentication_failure
                require_previous_session: false
        api:
            pattern:   ^/api
            stateless: true
            guard:
                authenticators:
                  - lexik_jwt_authentication.jwt_token_authenticator
        secured_area:
            # this firewall applies to all URLs
            pattern: ^/
            anonymous: true

            form_login:
                check_path: security_login
                login_path: security_login
                csrf_token_generator: security.csrf.token_manager
                default_target_path: homepage


            logout:
                # The route name the user can go to in order to logout
                path: security_logout
                # The name of the route to redirect to after logging out
                target: homepage


    access_control:
        - { path: ^/api/login,        roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api,              roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/login,            roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/,                 roles: IS_AUTHENTICATED_ANONYMOUSLY }
